.projectsMain {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 2rem;
	justify-content: center;
	margin: 4rem auto;
	max-width: 180rem;
}
@media only screen and (min-width: 1980px) {
	.projectsMain {
		grid-template-columns: repeat(3, minmax(400px, 1fr));
	}
}
