.btn {
	text-decoration: none;
	padding: 20px 40px;
	font-size: 1.5rem;
	font-weight: 600;
	position: relative;
	color: inherit;
	font-family: Montserrat, sans-serif;
}

.btn::after,
.btn::before {
	content: "";
	position: absolute;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	left: 0;
	bottom: 0;
	transform: translate(0%, -4%);
	z-index: -1;
	transition: transform 0.3s ease;
}
.btn::after {
	border: 3px solid #ff2e63;
}
.btn::before {
	border: 3px solid #08d9d6;
}
.btn:hover::after {
	transform: translate(-5px, -5px);
}

.btn:hover::before {
	transform: translate(5px, 5px);
}
