.nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 0;
}

.nav__container section {
	display: flex;
	gap: 3rem;
}
.nav__container-links {
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.6);
}
a:hover .nav-logo {
	transition: 0.3s ease;
}
a:hover .nav-logo {
	transition: 0.3s ease;
	animation: dash 2s ease-in;
}

@keyframes dash {
	0% {
		stroke-dasharray: 0;
		stroke-dashoffset: 0;
	}
	60% {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
	}
	85% {
		stroke-dashoffset: 0;
	}
}
