.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.footer__container {
	display: flex;
	justify-content: space-around;
	background-color: #252a34;
	font-weight: 500;
	color: #eaeaea;
}
